.ride-minor-details {
  span {
    font-size: 16px;
    margin-right: 10px;
  }
}

.ride-images-container {
  display: flex;
}

.ride-thumb-img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.ride-show-small {
  
  display: flex;
  width: 50%;
  > img:hover {
    padding: 5px;
    transition: 1s;
    border-radius: 10px;
  }
}

.ride-side-photos {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  flex-direction: column;
}

.ride-header {
  width: 100%;
  margin: 10%;

  h2 {
    font-size: 40px;
    font-weight: 600;
  }
}
