.index-text-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Montserrat";
}
.ride-desc {
  width: 300px;
  padding-top: 20px;

}

.ride-index-item {
  border-bottom: 1px #ebebeb solid;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  p {
    font-weight: 200;
  }
}

.ride-photo {
  width: 400px;
  height: 200px;
  border-radius: 15px;
  border: 1px solid #ebebeb;
  margin: 20px 20px 20px 0;
}

