.ride-minor-details {
  // span {
  //   font-size: 16px;
  //   margin-right: 10px;
  // }
  font-size: 20px;
  font-weight: bold;
}

.ride-images-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 85px auto;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: hidden;
  width: 80%;
}

.ride-thumb-img {
  width: 50%;
  height: 100%;
  overflow: hidden;
  // border-radius: 15px 0px 0px 15px;
  box-sizing: border-box;
  margin-right: 1%;
  > img:hover {
    filter: brightness(70%);
    transition: filter 0.5s ease;
  }
}

.ride-side-photos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  width: 50%;
  height: 100%;
  box-sizing: border-box;

  > img {
    width: 49%;
    &:nth-child(1) {
      margin-bottom: 2%;
      margin-right: 1%;
    }

    &:nth-child(2) {
      margin-bottom: 2%;
      // border-radius: 0px 15px 0px 0px;
    }

    &:nth-child(3) {
      margin-right: 1%;
    }

    // &:nth-child(4) {
    //   border-radius: 0px 0px 15px 0px;
    // }
  }
}

.ride-side-photos > img:hover {
  filter: brightness(70%);
  transition: filter 0.5s ease;
}

.ride-details {
  display: flex;
  // margin-left: auto;
  align-items: left;
  flex-direction: column;
  box-sizing: border-box;
  border-bottom: 1px solid darkgray;
  padding-bottom: 30px;
}
.ride-show-desc {
  padding-top: 32px;
  padding-bottom: 20px;
}

.booking-div {
  position: sticky;
  top: 80px;
  bottom: 80px;
  width: 50%;
  // padding-left: 50%;
}

.booking-div-div {
  position: relative;
  height: 700px;
  right: 0;
  border-radius: 10px;
  // width: 40%;
  // margin-bottom: 30px;
}

.availability-dates {
  margin-top: 10px;
}

.ride-show-map {
  display: block;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid darkgray;
  padding-left: 20%;
  > h2 {
    font-size: 25px;
    padding-left: 30%;
  }
}

.body-test {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// .map-bottom {
//   width: 100%;
//   height: 600px;
// }

.ride-bottom {
  justify-content: center;
}

#s-icon {
  width: 50px;
  height: 50px;
}

.ride-body-div {
  max-width: 600px;
  padding-left: 15%;
}

.ride-body {
  // align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: 50%;
}

.show-head {
  font-size: 20px;
  font-weight: bold;
}

.show-desc {
  color: black;
  opacity: 0.7;
}
