.logo {
  width: 85px;
  position: relative;
  margin-top: -8px;
  margin-left: 3px;
  outline: none;
}

.navbar {
  overflow: hidden;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.input:focus {
  outline: none;
}
.left-nav {
  display: flex;
  margin-left: 500px;
}
.nav-signin {
  font-size: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  padding: 12px;
  vertical-align: middle;
  width: 90px;
  height: 20px;
  font-family: "Roboto", sans-serif;
}

.nav-signin:hover {
  background-color: rgba(26, 24, 24, 0.08);
  transition: 1s;
  cursor: pointer;
  border-radius: 50px;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
}

button {
  color: black;
  background-color: white;
  border-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
  padding: 0px 0px 3px;
}

button:hover {
  background-color: rgb(98, 97, 97);
  opacity: 60%;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  margin-left: 100px;
}

// .outer-div {
//   font-family: "Roboto", sans-serif;
//   width: 50%;
//   display: flex;
//   justify-content: space-between;
//   //   flex-direction: row;
//   z-index: 1;
//   margin-top: 0px;
// }

div > p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.look-btn {
  justify-content: space-between;
  cursor: pointer !important;
  // display: inline-block !important;
  // position: relative !important;
  text-align: center !important;
  font-family: "Montserrat" !important;
  font-size: 16px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  padding-left: 15px !important;
  margin-left: 40%;
  width: 15%;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 660px;
  outline: none !important;
  border: none;
  color: white;
  border-style: ridge;
}

.search-nav {
  display: flex;
  // position:fixed;
  flex-direction: row;
  background-color: white;
  top: 0;
  justify-content: space-between;
  z-index: 100;
}

.right-nav {
  width: 50%;
  display: flex;
  z-index: 1;
}

.nav-2 {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  margin-top: 0px;
}
.look-button {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: 400px;
}

.look-btn:hover {
  background-color: gray;
  color: black;
  font-weight: 700px;
  transform: scale(1.25);
  transition: all 1s ease;
}

.search-nav {
  background-color: white;
  z-index: 1;
}

.search-form {
  display: flex;
  // align-items: center;
  width: 25vw;
  margin-top: 5px;
  padding-top: 10px;

  background-color: white;
  position: relative;
  border: 1px solid #ebebeb;
  transition: box-shadow 200ms ease-in;
  height: 40px;
  box-shadow: 0 5px 10px -5px grey;
}

.search-form-input {
  float: left;
  border-style: none;
  font-size: 16px;
  margin-top: 7px;
  color: #383838;
  position: relative;
}

.search-icon {
  height: 16px;
  width: 16px;
  display: block;
  fill: currentColor;
}

.search-icon-box {
  padding-top: 35px;
  width: 30px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.search-button {
  width: 100px;
  background-color: rgb(209, 189, 189);
  border-radius: 10px;
  margin-left: 180px;
  letter-spacing: 0.45em;
  color: black;
  cursor: pointer;
}

.date-search-button {
  background-color:white;
  font-weight: 900;
  text-transform: inherit;
  color: rgb(209, 189, 189);
}

.date-search {
  display: flex;
  flex-direction: column;
}