.modal-child {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 25px;
  z-index: 1000;
  text-align: center;
  box-shadow: 0 5px 8px 9 rgba(0, 0, 2, 0.7), 0 7px 20px;
  border-radius: 10px;
  background-color: white;
}

.modal-close {
  float: left;
  font-size: 12px;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 50%;
  font-weight: 300;
  top: 0;
  left: 0;
  position: absolute;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 2, 0.7);
  z-index: 500;
  transition: top 0.5s;
  display: flex;
  // opacity: 70%;
}

.close-x {
  text-align: center;
  float: left;
  line-height: 1.5rem;
  border-radius: 50%;
  font-size: 25px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}

.modal-header {
  padding: 15px;
  font-size: 18px;
  font-weight: 800;
  font-family: "Montserrat";
  margin: 0;
}

.close-x:hover {
  // opacity: 1;
  cursor: pointer;
}

// .close-x:after {
//   display: inline-block;
// }

.close-x:before,
.close:after {
  position: relative;
  left: 16px;

  height: 33px;
  width: 24px;
  background-color: red;
}

.input-container {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  border-radius: 20px;
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
  background-color: white;
}

.input-container input:focus {
  border-color: black;
  outline: none;
}
.session-submit {
  background-color: rgb(146, 47, 47);
  border: 0;
  padding: 0 0 3px 0;
  outline: none;
  text-align: center;
  cursor: pointer;
  color: white;
  margin: 16px 0;
  font-size: 24px;
  height: 40px;
}

// .login-form {
//   display: flex;
//   flex-direction: column;
// }

.input-container {
  display: flex;
  flex-direction: column;
}

.login-form-container {
  background-color: white;
  border-radius: 15px;
}

.login-input {
  border: 1px solid #888;
  position: relative;
  color: #383838;
  letter-spacing: normal;
  width: 525px;
  height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #fefefe;
}

.session-errors {
  color: red;
}

.error-list {
  color: red;
  font-size: 16px;
}

.other-form-btn {
  cursor: pointer;
  color: darkblue;
  font-size: 16px;
}

.signup-input >i{
  font-size: 20px;
  z-index: 2;
  right: 25px;
  position: absolute;
  margin-top: 27px;
}

// .signup-input {
//   position: relative;
// }

i {
  width: 50px;
  height: 50px;
}